<link rel="stylesheet" type="text/css" href="css/component2.css" />
<div class="component2">
				
				<!-- Start Nav Structure -->
				<button class="cn-button2" id="cn-button2">Menu</button>
				<div class="cn-wrapper2" id="cn-wrapper2">
					<ul>
						<li><a href="#"><span>Cars</span></a></li>
						<li><a href="#"><span>Food</span></a></li>
						<li><a href="#"><span>Buildings</span></a></li>
						<li><a href="#"><span>Movies</span></a></li>
						<li><a href="#"><span>Songs</span></a></li>
						<li><a href="#"><span>Places</span></a></li>
						<li><a href="#"><span>Contacts</span></a></li>
					 </ul>
				</div>
				<!-- End of Nav Structure -->
			</div>
		<script src="js/demo2.js"></script>
