
<link rel="stylesheet" type="text/css" href="css/component2.css" />
	<script src="js/demo2.js"></script>
	
	
	<div class="row">
		
		<div class="col-sm-4">
		&nbsp	<img src="img/cof.png" alt="Beauty" style="width:400px;height:300px;">
			
			
		</div>
		<div class="col-sm-5">
                       <div class="component2">
				
				<!-- Start Nav Structure -->
				<button class="cn-button2" id="cn-button2">OPEN</button>
				<div class="cn-wrapper2" id="cn-wrapper2">
					<ul>
						<li><a href="#"><span>Cars</span></a></li>
						<li><a href="#"><span>Food</span></a></li>
						<li><a href="#"><span>Buildings</span></a></li>
						<li><a href="#"><span>Movies</span></a></li>
						<li><a href="#"><span>Songs</span></a></li>
						<li><a href="#"><span>Places</span></a></li>
						<!--<li><a href="#"><span>Contacts</span></a></li>-->
					 </ul>
				</div>
				<!-- End of Nav Structure -->
			</div>
			
			
			<br>
<br>
<br>

		<div class="container">
				


		<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <center> <img src="img/imgres.jpg" alt="Beauty" style="width:160px;height:160px;"></center>
    </div>

    <div class="item">
      <center ><img src="img/images.jpg" alt="Beauty" style="width:160px;height:160px;"></center>
    </div>

    <div class="item">
      <center><img src="img/food.jpg" alt="Food" style="width:160px;height:160px;"></center>
    </div>

    <div class="item">
     <center> <img src="img/building.jpg" alt="building" style="width:160px;height:160px;"></center>
    </div>
  </div>

  <!-- Left and right controls -->
  <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
  <!--  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
  <!--  <span class="sr-only">Previous</span>-->
  <!--</a>-->
  <!--<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
  <!--  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
  <!--  <span class="sr-only">Next</span>-->
  <!--</a>-->
</div>
</div>			
	
